@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["paragraph"] = "This is a paragraph";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["paragraph"]</p>
<p>Use this page to detail your site's privacy policy.</p>
