@model MVCApp.Models.DogViewModel
@*

*@

@{

}

<h1>Hello View</h1>
<p>This is the index page of the Hello Controller.</p>
<p>A dog named @Model.Name says hello. @Model.Name is @Model.Age years old.</p>